
@{
    ViewData["Title"] = "ShopList";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Droppable - Default functionality</title>

    <script type="text/javascript">
        $(document).ready(function () {
            var data = { items: [] };

            // Get the inventory and handle the promises.
            var inventory = $.getJSON('/data/inventoryItems.json',
                    function() {
                        console.log('Got the data.');
                    })
                .done(function(response) {
                    // build the UI.
                    console.log('response=' + response);
                    console.log('response.items=' + response.items);
                    var shoppingItemsContainer = $('#shoppingItems');
                    shoppingItemsContainer.empty();

                    $.each(response.items,
                        function (i, inventoryItem) {
                            var $element = $(generateUiItem(inventoryItem.item,
                                inventoryItem.price,
                                inventoryItem.color));

                            shoppingItemsContainer.append($element);
                            $element.draggable();
                        });

                })
                .fail(function() {
                    alert('Something went wrong getting the inventory : ' + inventory.statusText);
                });


            function generateUiItem(item, price, color) {
                return '<div id="' + item + '" data-price="' + price + '"><div style="background-color:' + color + ';width:100px; height: 50px;border:solid;padding-bottom:3px" id="drag">' + item + '</div></div>';
            }



            $('#pay').on('click', function () {
                makePayment();
            });



            $("#droppable").droppable({
                drop: function (event, ui) {
                    var id = ui.draggable.attr("id");
                    var classString = ui.draggable.attr("class");
                    var cls = classString.substr(0, classString.indexOf(' '));

                    console.log('item=' + id + ', price=' + ui.draggable.data("price"));

                    data.items.push({ item: id, price: ui.draggable.data("price") });
                }
            });

            function makePayment() {
                $('.receipt').attr('hidden', false);
                var html = '';
                $.each(data.items, function (key, value) {
                    html += '<tr>';
                    html += '<td width="200px">' + value.item + '</td>';
                    html += '<td width="100px">' + '$' + value.price.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") + '</td>';

                    html += '</tr>';
                });
                $('table tbody').html(html);
            };


        });
    </script>
</head>
<body>
<article>
    This page demonstrates the usage of a few things:<br />
        - JQuery UI Drag\Drop<br />
        - $.getJSON which will get the data to build the UI element<br />
        - $.append the UI element and set it as draggable<br />
        - Updates an array variable to keep track of items in the basket.<br />
    Drag and drop an item into the shopping cart. This action will update JSON data variable with the item and price.<br />
    When done, click the [Complete Shopping] button to print the receipt.
</article>
<p>

</p>
    <div id="shoppingItems">
    </div>
    <p></p>
    <div id="droppable">
        <p style="background-color:lightgray;border:double;width:700px; height: 300px;">Shopping cart</p>
    </div>
    <p></p>
    <button id="pay">Complete shopping</button>



    <p class="receipt" hidden="hidden">
        Receipt <br /><br />

        <table>
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </p>


</body>
</html>

