
@{
    ViewData["Title"] = "Index";
}

<section>
    Click on the button to add an address. If you select Chicago as the city, we will perform an API call to return the current weather.
</section>

<a asp-controller="Address" asp-action="Create" > Add Address</a>