
@{
    ViewData["Title"] = "Index";
}

<article>
    This page demonstrates the usage making AJAX calls using JQuery. <br />
    It's a simple call to get additional details, the weather in Chicago in this case.<br />
    $.get makes an API call to a server-side service. $.get ad $.ajax are similar except that $.get is more explicit.<br />
    Click on the link to see the result.

</article>



<p></p>



<a asp-controller="Address" asp-action="Create" > Add Address</a>