@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please select a menu item to view the results.</p>

</div>

<p>
    <strong>To-do list:</strong>
    <ul>
        <li><a href="https://docs.microsoft.com/en-us/aspnet/core/mvc/views/tag-helpers/authoring?view=aspnetcore-2.2" target="_blank">Create custom Tag helper.</a></li>
        <li>Implement Role authorization</li>
        <li><a href="https://docs.microsoft.com/en-us/aspnet/core/mvc/views/view-components?view=aspnetcore-2.2" target="_blank">Implement View Components</a></li>
        <li>Fix server side autocomplete view rendering issue.</li>
    </ul>
</p>


