@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<blockquote>
    <p>    This is some sample code I have written for the purpose of show casing some of the 
        technologies and features I implemented in my work.
        <br />
        It is not intended to be a cohesive set of features but rather a set of loosely code 
        that implements some features that I came across in my work or in training.</p>
</blockquote>
<p>— Alex Dinu</p>




